body {
  background-color: #DABAE5;
}
footer {
  background-color: #6C3082;
  padding:5%;
}
/* banner */

.Header {
  padding: 5px 0px 5px 0px;
  margin: 0px;
  width:auto;
  text-align: center;
  background-color: #6C3082;
  color: white;
}

.divider {
  background-color: #DABAE5;
  padding:1px;
}

/* nav */

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color: #6C3082;
}

.li {
  float: left;
}

li a {
  display: inline;
  color: white;
padding: 14px 16px;
text-align: center;
text-decoration: none;
}

li a:hover {
  background-color: #893DA5;
}


/* home */

/* history */

.timeline {
  padding: 0 5%;
}
.history-img{ 
  padding: 2% 5% 2% 5%;
}
.history-img img {
  width: 75%;
}
/* visit */
.visit {
  padding:5%;
}
.col-5 img {
  width:100%;
}
.margin{
  margin:1px;
}
 h2{
  color: #6C3082;
 }
a {
  color: #893DA5;
}

