body {
  background-color: #8AB3FF;
}

footer {
  background-color: #0038A0;
  padding: 5%;
}

/* banner */
.Header {
  padding: 5px 0px 5px 0px;
  margin: 0px;
  width: auto;
  text-align: center;
  background-color: #0038A0;
  color: white;
}

.divider {
  background-color: #8AB3FF;
  padding: 1px;
}

/* nav */
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0038A0;
}

.li {
  float: left;
}

li a {
  display: inline;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: #004DDB;
}

.active {
  background-color: #004DDB
}

/* home */
.home-img {
  width: 75%;
  border: 5px solid white;
}
p li { 
  color: #002F88;
}
/* history */
.timeline {
  padding: 0 5%;
}

.history-img {
  padding: 2%;
}

.history-img img {
  width: 75%;
  border: 5px solid white;
}

strong {
  color: #0038A0;
}

/* visit */
.visit {
  padding: 5%;
}

.col-5 img {
  width: 100%;
  border: 5px solid white;
}

.margin {
  margin: 1px;
}

h2 {
  color: #0038A0;
}

a {
  color: #004DDB;
}

.padding {
  padding: 5% 0px;
  margin: 5%
}